.container {
  display: flex;
  justify-content: space-between;
  padding: 10px 6%;
  max-height: 50px;
}
.logoContainer {
  display: flex;
  align-items: center;
  column-gap: 10px;
  cursor: pointer;
}
.pageName {
  font-size: 36px;
}
.logo {
  border-radius: 12px;
}
.buttons {
  display: flex;
  align-items: center;
  column-gap: 40px;
}
.icons {
  cursor: pointer;
  &:hover {
    opacity: .7;
  }
}
